/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding-top: 140px;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  width: 100vw;
  height: 140px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.5);
  z-index: 100;
  background-color: #4A4141;
}
.header__menu {
  display: flex;
  justify-content: space-evenly;
}
.header__item {
  margin: 0 15px;
}
.header__item.current a {
  border-bottom: 5px solid #9A8F72;
}
.header__item a {
  font-size: 18px;
  padding: 12px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 200ms;
}
.header__item a:hover {
  border-bottom: 5px solid #9A8F72;
}

.main {
  min-height: 700px;
  background-color: #8C7C7C;
  box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.main_gallery {
  padding: 100px 10vw 65px 10vw;
}
.main__navbar {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.main__navbar-link {
  display: inline-block;
  font-size: 24px;
  padding: 12px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #9A8F72;
  color: #fff;
  transition: 200ms;
}
.main__navbar-link:first-child {
  margin-right: 100px;
}
.main__navbar-link_current {
  background-color: #afa790;
}
.main__navbar-link:hover {
  background-color: transparent;
  color: #9A8F72;
}

.about {
  padding: 100px 0;
  text-align: center;
}
.about__text {
  font-size: 24px;
  line-height: 35px;
  margin-top: 50px;
  max-width: 80ch;
  margin: 50px auto;
}
.about__item {
  font-size: 24px;
  line-height: 35px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0 150px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left center, right center;
  color: #fff;
}
.landing-section__title {
  font-size: 52px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 70px;
  max-width: 20ch;
  text-transform: uppercase;
}
.landing-section__logo {
  margin-bottom: 40px;
  display: block;
}
.landing-section__link {
  font-size: 24px;
  padding: 12px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #9A8F72;
  color: #fff;
  transition: 200ms;
  margin-top: 50px;
}
.landing-section__link:hover {
  background-color: transparent;
  color: #9A8F72;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 10vw 100px 10vw;
  background-color: #4A4141;
  color: #fff;
}
.footer__title {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 500;
}
.footer__menu {
  padding-left: 12px;
}
.footer__item {
  margin-bottom: 20px;
}
.footer__item a {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: 200ms;
}
.footer__item a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.footer__item_icon {
  display: inline-block;
  margin: 0 10px;
}
.footer__item_icon svg {
  fill: #fff;
  width: 40px;
  height: 40px;
  transition: 200ms;
}
.footer__item_icon:hover svg {
  fill: rgba(255, 255, 255, 0.4);
}

.about__decorator {
  margin: 100px auto;
  height: 2px;
  max-width: 1100px;
  width: 100%;
  background-color: #000;
}

.tiles .section-title {
  padding: 40px 0;
  text-align: center;
}
.tiles__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 100px;
}

.tile {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  width: 100%;
  max-width: 400px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}
.tile__text {
  font-weight: 500;
}
.tile__text_standalone {
  font-size: 22px;
  text-align: center;
}
.tile__text_price {
  text-align: center;
}
.tile__text:not(.tile__text:last-child) {
  margin-bottom: 20px;
}
.tile__photo {
  margin-bottom: 20px;
}
.tile__photo_placeholder {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  background-color: #a3987e;
}

.salon {
  display: inline-block;
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;
}
.salon__image {
  width: 50px;
  margin-right: 20px;
}
.salon__text {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin: 50px 0;
}
.salon__wrapper {
  text-align: center;
}/*# sourceMappingURL=style.css.map */