{% extends 'base-generation.html' %} {% load static %} {% block title %}
<title>О нас</title> {% endblock %} {% block content %}

<section class="about">
    <h1 class="section-title">О нас</h1>
    <p class="about__text">
        Салоны красоты в центре Москвы Adore Beauty хотели подарить нашим гостям новое, современное пространство, которое отличалось бы от всего того, что было в индустрии красоты до этого.
    </p>
    <ul class="about__list">
        <li class="about__item">Парикмахерские услуги</li>
        <li class="about__item">Маникюр и педикюр</li>
        <li class="about__item">Визаж</li>
        <li class="about__item">Наращивание ресниц</li>
        <li class="about__item">Эстетическую и аппаратную косметологию</li>
    </ul>

    <div class="about__decorator"></div>

    <p class="about__text">Команда Adore Beauty работает исключительно с косметикой премиум класса: для стойкого, щадящего и качественного окрашивания волос наши стилисты используют средства от французского бренда La BIOSTHETIQUE и американского бренда Redken, а также австралийского
        бренда Kevin Murphy. Для ухода применяют средства для волос Authentic Beauty Concept, Eliocap, Kevin Murphy, Lebel.
    </p>
    <p class="about__text">Первоклассного маникюра мастера Adore Beauty добиваются с помощью гель-лаков Luxio, Calgel и Christina Fitzgherald.
    </p>
    <p class="about__text">Депиляция, как спа-ритуал: для Вашего комфорта мы используем пластичные воски Lycon, которые позволяют безболезненно удалять даже самые короткие волоски на любых типах кожи.</p>
</section>
{% endblock %}