{% extends 'base-generation.html' %} {% load static %}
{% block title %}
<title>Услуги и цены</title>
{% endblock %}

{% block content %}
<section class="tiles">
    <h1 class="section-title">Акции</h1>

    <ul class="tiles__list">
        {% for sale in sales %}
        <li class="tiles__item tile">
            <p class="tile__text tile__text_standalone">
                {{sale.name}}
            </p>
            <p class="tile__text">
                {{sale.description}}
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}