{% extends 'base-generation.html' %} {% load static %}
{% block title %}
<title>Мастера</title>
{% endblock %}

{% block content %}
<section class="tiles">
    <h1 class="section-title">Вакансии</h1>

    <ul class="tiles__list">
        {% for vacancy in vacancies %}
        <li class="tiles__item tile">
            <p class="tile__text tile__fullname">
                {{vacancy.name}}
            </p>
            <p class="tile__text tile__position">
                ЗП в месяц: {{vacancy.salary}}
            </p>
            <p class="tile__text">
                Описание: {{vacancy.description}}
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}